.screen-container {
  width: calc(100% - 100px);
  height: 100%;
  background-color: #222831;
  border-radius: 30px;
  /* background-color: #1e2a3e; */
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at center left,
      transparent 0,
      #14181d 80px
    ),
    repeating-linear-gradient(#2f333855);
}

.flex {
  display: flex;
}
