.library-body {
  width: 94%;
  height: 90%;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: space-between;
}

.playlist-card {
  position: relative;
  width: 20%;
  height: 67%;
  margin-bottom: 2%;
  padding: 1%;
  border-radius: 20px;
  border: 1px solid #948979;
  padding: 1%;
  margin-bottom: 2%;
  background: #2f333855;
  background: linear-gradient(75deg, #948979 0%, rgba(223, 208, 184, 0.5) 100%);
  border: 1px solid #210f37;
  transition: all 0.5s ease;
  cursor: pointer;
}

.playlist-card:hover {
  transform: scale(1.05);
}

.playlist-card:hover .playlist-fade {
  opacity: 1;
}

.playlist-image {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 15px;
  object-fit: cover;
}

.playlist-title {
  font-weight: 800;
  font-size: 16px;
  color: #222831;
  margin: 10px 0px 10px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.playlist-subtitle {
  font-weight: 500;
  font-size: 12px;
  margin: 0px;
  color: rgba(35, 40, 49, 0.8);
}

.playlist-fade {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 34%;
  border-radius: 18px;
  background: linear-gradient(
    180deg,
    rgba(57, 62, 70, 0) 10%,
    rgba(57, 62, 70, 1) 100%
  );
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 8%;
  transition: 0.5s ease;
}
