circle {
  transition: all 1s ease-in-out;
  transform: rotate(93deg);
  transform-origin: 50% 50%;
}

image.active {
  animation: rotation 30s infinite linear;
  transform-origin: 50% 50%;
}

.progress-circle {
  align-items: center;
  justify-content: center;
}

.progress-circle image.active {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center;
  }
}
